@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Montserrat:wght@100;400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

.main {
  max-width: 1440px;
  margin: auto;
}

.content {
  /* border: 1px solid darkblue; */
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 74px;
  padding-bottom: 74px;
}

.content ::after {
  /* border: 1px solid darkblue; */
  background-image: url('../assets/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.text_blog {
  padding-left: 80px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
}
.text_blog_row {
  padding-left: 0;
}
.blog {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 56px;
  font-weight: 400;
  /* padding: 25px 0; */
}
.text {
  /* border: 1px solid darkblue; */
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

.content_all {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 7rem;
  padding-left: 6%;
}

.content_left {
  width: 260px;
  height: 1700px;
  /* border: 1px solid black; */
}

.content_right {
  width: 860px;
  height: 100%;
  padding-bottom: 120px;
  /* border: 1px solid black; */
}

.search {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  border: 1px solid #c8c8c8;
}

.input_search {
  /* border: 1px solid darkblue; */
  border: none;
  outline: none;
}
.icon_search {
  /* border: 1px solid darkblue; */
  cursor: pointer;
  margin-top: 5px;
  margin-right: 14px;
  width: 15px;
  height: 15px;
}

.categories {
  padding-top: 39px;
  font-weight: 700;
  font-size: 24px;
}

.content_categories {
  margin-top: 19px;
  height: 390px;
  /* border: 1px solid black; */
}

.brand_all {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

.recent_news {
  font-weight: 700;
  font-size: 24px;
}

.content_recent_news {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

.content_img {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.line_recent {
  border-bottom: 1px solid #d8d8d8;
}
.text-recent {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
}

.text-time {
  padding-top: 6px;
  font-weight: 400;
  font-size: 10px;
  color: #3e3e3e;
}

.archives {
  padding-top: 51px;
  font-weight: 700;
  font-size: 24px;
}

.select_month {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 7rem;
  font-size: 14px;
  font-family: 'Montserrat';
  margin-top: 30px;
  padding: 12px 0px 0px 20px;
  height: 50px;
  border: 1px solid black;
}

.text_v {
  font-weight: bold;
}

.tags {
  padding-top: 50px;
  font-weight: 700;
  font-size: 24px;
}

.content_tags {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  gap: 6.5px;
  flex-wrap: wrap;
  text-align: center;
}
.content_border_tags {
  /* border: 1px solid darkgoldenrod; */
  width: 80px;
  border-radius: 4px;
  border: 1px solid black;
}

.content_border_tags:hover {
  background: black;
  color: #ffffff;
  cursor: pointer;
}
.content_border_zuka {
  border: 1px solid black;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.content_border_zuka:hover {
  background: black;
  color: #ffffff;
  cursor: pointer;
}
.content_border_online {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
}

.content_border_online:hover {
  background: black;
  color: #ffffff;
}

.img_banner {
  padding-top: 50px;
}

.text_shop {
  padding-top: 23px;
  font-weight: 400;
  font-size: 32px;
}

.content_text_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.text_tag {
  align-items: center;
  display: flex;
  gap: 8px;
}

.icon_time {
  width: 20px;
  height: 20px;
}

.icon_tag {
  width: 20px;
  height: 20px;
}

.content_describe {
  padding-top: 25px;
  line-height: 28px;
}

.read_more {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.text_more {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.line {
  height: 1px;
  width: 760px;
  margin-top: 11px;
  border: 1px solid #d8d8d8;
}

.play {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 410px;
  background-image: url(../assets/img_kitchen.png);
  background-size: cover;
}

.icon_play {
  margin-top: 150px;
  padding-top: 15px;
  padding-left: 4px;
  width: 68px;
  height: 68px;
  font-size: 25px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #ffffff;
  border: none;
}

.icon_play:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}

.content_pc {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 410px;
  background-image: url(../assets/img_pc.png);
  background-size: cover;
}

.icon_pc {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
  gap: 45rem;
}

.border_left_row {
  padding-top: 12px;
  padding-right: 4px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  border: 1px solid black;
  background-color: #ffffff;
  border: none;
}

.border_left_row:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}

.border_right_row {
  padding-top: 12px;
  padding-right: 4px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  border: 1px solid black;
  background-color: #ffffff;
  border: none;
}

.border_right_row:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}

.content_design {
  margin-top: 40px;
  height: 211px;
  background-color: #f6ecef;
}

.text_design {
  padding-top: 35px;
  padding-left: 46px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 51px;
}

.conten_line_joshua {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.line_joshua {
  margin-left: 46px;
  width: 30px;
  height: 1px;
  border: 2px solid black;
}

.text_joshua {
  position: absolute;
  left: 95px;
  top: -9px;
  font-family: 'arimo';
  font-size: 16px;
  font-weight: 400;
}

.photo {
  padding-top: 24px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}

.img_matress {
  padding-top: 20px;
}

.scroll {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 0.5rem;
}

.border_scroll {
  margin-top: 100px;
  padding-top: 10px;
  width: 49px;
  height: 49px;
  border: 1px solid black;
}

.border_scroll:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .content_all {
    gap: 3rem;
    padding-left: 0;
  }
  .content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .text_blog {
    position: absolute;
    left: 15px;
    top: 20px;
    font-weight: 400;
    font-size: 26px;
    padding-left: 0;
  }
  .blog {
    font-family: 'Arimo';
    padding-top: 40px;
  }
  .content_left {
    width: 33%;
    height: 100%;
  }
  .content_right {
    width: 67%;
    padding-bottom: 40px;
  }
  .search {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .brand_all {
    font-size: 20px;
  }
  .recent_news {
    padding-top: 36px;
  }
  .content_border_tags {
    width: 119px;
    height: 30px;
    font-size: 20px;
  }
  .content_border_zuka {
    width: 119px;
    height: 30px;
    font-size: 20px;
  }
  .content_border_online {
    width: 119px;
    height: 30px;
    font-size: 20px;
  }
  .img_freshii,
  .play,
  .img_matress,
  .content_pc {
    width: 462px;
    height: 300px;
  }
  .text_shop {
    padding-top: 20px;
    font-family: 'Arimo';
  }
  .content_text_time {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content_describe {
    font-size: 20px;
  }
  .text_more {
    font-size: 18px;
  }
  .line {
    width: 350px;
    margin-top: 12px;
  }
  .icon_pc {
    margin-top: 144px;
    gap: 21rem;
  }
  .icon_play {
    margin-top: 115px;
  }
  .content_design {
    margin-top: 20px;
    height: 260px;
    width: 100%;
  }
  .text_design {
    padding-left: 26px;
  }
  .line_joshua {
    margin-top: 10px;
    width: 48px;
    height: 1px;
    border: 2px solid black;
  }
  .text_joshua {
    left: 110px;
    top: -4px;
    font-size: 20px;
  }
  .photo {
    font-size: 30px;
    line-height: 28px;
  }
  .border_scroll {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 428px) {
  .content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .text_blog {
    position: absolute;
    top: 9px;
    left: 22px;
    font-weight: 400;
    font-size: 18px;
    padding-left: 0;
  }
  .blog {
    font-size: 40px;
    font-weight: 400;
    padding-top: 26px;
    font-family: "'Arimo'";
  }

  .content_all {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-left: 0;
  }

  .content_left {
    width: 100%;
    height: 100%;
  }
  .search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
    padding-left: 14px;
    border: 1px solid #c8c8c8;
  }
  .icon_search {
    margin-top: 18px;
    margin-right: 36px;
    width: 15px;
    height: 15px;
  }
  .categories {
    padding-top: 30px;
    font-weight: 700;
    font-size: 26px;
  }
  .brand_all {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    font-size: 20px;
  }
  .recent_news {
    padding-top: 30px;
    font-weight: 700;
    font-size: 26px;
  }
  .content_recent_news {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    gap: 32px;
  }
  .text-recent {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
  }
  .text-time {
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #3e3e3e;
  }
  .archives {
    padding-top: 50px;
    font-weight: 700;
    font-size: 26px;
  }
  .select_month {
    gap: 14rem;
    font-size: 17px;
    height: 50px;
  }
  .tags {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 26px;
  }
  .content_tags {
    justify-content: center;
    gap: 7.5px;
  }
  .content_border_tags {
    width: 129px;
    font-size: 20px;
  }
  .content_border_zuka {
    width: 129px;
    font-size: 20px;
  }
  .content_border_online {
    width: 129px;
    font-size: 20px;
  }
  .icon_banner {
    display: none;
  }
  .content_right {
    width: 100%;
    padding-bottom: 30px;
  }
  .img_freshii,
  .play,
  .content_pc,
  .img_matress {
    width: 100%;
    height: 280px;
  }
  .text_shop {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
  }
  .text_tag {
    gap: 4px;
    font-size: 16px;
  }
  .content_text_time {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 46px;
  }
  .content_describe {
    font-size: 20px;
  }
  .text_more {
    font-size: 20px;
  }
  .line {
    width: 285px;
    margin-top: 14px;
  }
  .icon_play {
    margin-top: 108px;
  }
  .content_design {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
  .text_design {
    padding-left: 0;
    padding-top: 37px;
    font-weight: 700;
    font-size: 34px;
  }
  .text_joshua {
    font-size: 20px;
    top: 0px;
  }
  .line_joshua {
    margin-left: 46px;
    margin-top: 13px;
    width: 35px;
    height: 1px;
    border-bottom: 2px solid black;
  }
  .scroll {
    justify-content: center;
    gap: 0.8rem;
  }
  .border_scroll {
    margin-top: 30px;
  }
  .photo {
    font-weight: 700;
    font-size: 26px;
  }
  .icon_pc {
    margin-top: 129px;
    gap: 17rem;
  }
}
