/* bar description */
.desc-bar {
  margin-top: 50px;
}

.content-bar-description {
  display: flex;
  justify-content: center;
}

.image-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-description img {
  width: 100%;
}

.image-description_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-description_1 p {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-align: justify;
}

.style_li {
  margin: 20px 0;
}

.style_li li {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-align: justify;
  margin: 20px 0;
}

.relate {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  text-align: center;
  color: #1a1a1a;
  margin: 30px 0 50px 0;
}

.relate-1 {
  display: flex;
  justify-content: center;
}

.relate-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1a1a1a;
  margin-top: 15px;
}

.type_price {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.circle i {
  margin: 0px 5px 60px 5px;
  cursor: pointer;
}

@media only screen and (max-width: 428px) {
  .detail_price > i {
    margin-right: 10px;
    margin-left: 115px;
  }

  .relate {
    margin: 50px;
    font-size: 35px;
  }

  .detail_list {
    padding-right: 30px;
    padding-left: 30px;
  }

  .detail-location {
    padding-right: 30px;
    padding-left: 30px;
  }

  .sosial_media {
    padding-right: 30px;
    padding-left: 30px;
  }

  .list_product img {
    width: 25%;
  }

  .add_cart button {
    font-size: 12px;
    padding: 0;
  }

  .bar-product-detail p {
    cursor: pointer;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    color: #1a1a1a;
    text-align: center;
  }
  .bar-product-detail {
    gap: 8px;
  }

  .bar-product-detail p:hover {
    border-bottom: 3px solid black;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    color: #1a1a1a;
  }

  .c-detail {
    padding-right: 30px;
    padding-left: 30px;
  }

  .image-description_1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}
