.content {
  display: flex;
  justify-content: space-between;
}

.content .name:hover {
  text-decoration: underline;
  font-weight: 700;
}

.content .name,
.content .qty {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
