@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

.content {
  position: relative;
  height: 250px;
  background-image: url('../assets/login-background.png');
}

.contact_left {
  position: absolute;
  left: 86px;
  top: 20px;
}

.contact_row {
  padding-left: 20px;
  color: #919191;
}

.contact_us {
  padding-left: 20px;
}

.content_title {
  position: absolute;
  width: 280px;
  height: 64px;
  left: 500px;
  top: 75px;
  font-family: 'Arimo';
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}

.content_second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_map {
  height: 800px;
  width: 700px;
}

.content_input {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-top: 58px;
  margin-right: 110px;
  height: 654px;
  width: 500px;
}

.contact_input {
  border: none;
  border-bottom: 3px solid black;
  outline: none;
}

.contact_label {
  padding-top: 10px;
}

.img_map {
  width: 700px;
  height: 800px;
}

.contact_input_message {
  padding-top: 100px;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
}

.send_message {
  margin-top: 50px;
  height: 70px;
  background-color: black;
  color: white;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .content_title {
    left: 226px;
    top: 120px;
    font-size: 56px;
    line-height: 0px;
  }
  .content_second {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 3rem;
  }

  .content_input {
    margin-top: 30px;
    margin-right: 0px;
    height: 100%;
    width: 100%;
  }
  .contact_label {
    font-size: 20px;
  }
  .contact_left {
    left: 20px;
    top: 24px;
    font-size: 20px;
  }
  .img_map {
    width: 107%;
    height: 100%;
  }
  .send_message {
    font-size: 20px;
  }
}

@media only screen and (max-width: 428px) {
  .content {
    height: 240px;
    margin-bottom: 70px;
  }
  .content_second {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    padding: 40px 10px;
  }

  .contact_left {
    left: 23px;
    top: 23px;
    font-size: 18px;
  }
  .content_title {
    left: 36px;
    font-size: 50px;
    line-height: 0;
    top: 106px;
  }
  .content_input {
    margin-top: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
  }
  .img_map {
    width: 58%;
    height: 100%;
  }
}
