.main-2 {
  background-color: #bcbaba;
}

.main {
  background-color: #ffffff;
  /* max-width: 1440px; */
  /* margin: auto; */
}

.section-1 {
  /* border: 1px solid darkblue; */
  position: relative;
  padding-top: 40px;
  padding-bottom: 74px;
  padding-left: 80px;
  padding-right: 80px;
}

.section-1-nav {
  /* border: 1px solid darkblue; */
  display: flex;
  column-gap: 20px;
  padding-bottom: 16px;
}

.section-1-text {
  /* border: 1px solid darkblue; */
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1a1a1a;
}

.section-1-arrow {
  /* border: 1px solid darkblue; */
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #919191;
}

.section-1::after {
  background-image: url("../assets/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.section-1-header {
  /* border: 1px solid darkred; */
  text-align: center;
  font-weight: 400;
  font-size: 56px;
  line-height: 64.39px;
  margin-bottom: 20px;
}

.section-1-text {
  /* border: 1px solid darkgoldenrod; */
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
}

.section-2 {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 81px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 120px;
}

.cart-div {
  /* border: 1px solid darkorange; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #979797;
  margin-bottom: 25px;
}

.question-line {
  /* border: 1px solid darkgreen; */
  width: 73px;
  height: 1px;
  border: 2px solid #d8d8d8;
  background: #d8d8d8;
}

.question-div {
  /* border: 1px solid darkgreen; */
  display: flex;
  align-items: center;
  column-gap: 69px;
  margin-bottom: 78px;
}

.question-header {
  /* border: 1px solid darkgreen; */
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
}

.aside-left-header {
  /* border: 1px solid darkgreen; */
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #262626;
  margin-bottom: 28px;
}

.aside-left-text {
  /* border: 1px solid darkgreen; */
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #262626;
}

.faq-div-1 {
  /* border: 1px solid darkgreen; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  column-gap: 160px;
}

.faq-div-2 {
  /* border: 1px solid darkgreen; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
  column-gap: 160px;
}

.faq-div-3 {
  /* border: 1px solid darkgreen; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  column-gap: 160px;
}

.help-header {
  /* border: 1px solid darkgreen; */
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  color: #1a1a1a;
  margin-bottom: 31px;
}

.contact-btn {
  /* border: 1px solid darkgreen; */
  width: 220px;
  height: 60px;
  background: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border: none;
}

/* || Responsive */
/* @media all and (min-width: 768px) and (max-width: 1024px) {

} */

@media all and (min-width: 480px) and (max-width: 768px) {
  .question-header {
    text-align: center;
    font-size: 24px;
  }
}

@media all and (max-width: 480px) {
  .aside-left-header {
    font-size: 18px;
  }

  .question-header {
    text-align: center;
    font-size: 24px;
  }

  .question-line {
    width: 4rem;
  }

  .faq-div-1 {
    /* border: 1px solid darkblue; */
    gap: 2rem;
  }

  .faq-div-2 {
    /* border: 1px solid darkblue; */
    gap: 2rem;
  }

  .faq-div-3 {
    /* border: 1px solid darkblue; */
    gap: 2rem;
  }

  .section-1 {
    padding: 0;
  }

  .section-1-text {
    /* border: 1px solid darkblue; */
    font-size: 12px;
  }

  .help-header {
    font-size: 24px;
    width: 15rem;
  }

  .section-1-header {
    font-size: 28px;
  }
}
