@font-face {
  font-family: Arimo;
  src: url('../assets/Arimo/static/Arimo-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Arimo';
}

.main-2 {
  background-color: #ffffff;
}

.main {
  max-width: 1440px;
  margin: auto;
}

.section-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 74px;
}

.section-1::after {
  background-image: url('../assets/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.section-1-header {
  font-weight: 400;
  font-size: 56px;
  line-height: 64.39px;
  margin-bottom: 20px;
}

.section-1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
}

.section-2-aside-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-2-aside-left {
  width: 100%;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 440px;
  padding-right: 440px;
  padding-bottom: 120px;
  padding-top: 80px;
}

.section-2-aside-left-header {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 32px;
  line-height: 36.8px;
  margin-bottom: 20px;
}

.section-2-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #1a1a1a;
  margin-bottom: 40px;
}

.section-2-aside-left-header-2 {
  color: #b4b4b4;
  font-weight: 400;
  font-size: 32px;
  line-height: 36.8px;
  margin-bottom: 80px;
}

.line {
  width: 80px;
  border: 2px solid #c2c2c2;
}

.section-2-aside-right-header {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 32px;
  line-height: 36.8px;
  margin-bottom: 20px;
}

.aside-right-input-1 {
  height: 70px;
  width: 100%;
  margin-bottom: 33px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #4d4d4d;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 50px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.1px;
  margin-bottom: 46px;
}

.remember-div {
  display: flex;
  margin-bottom: 33px;
}

.remember-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #4a4141;
  margin-left: 8px;
  margin-right: 38px;
}

@media only screen and (max-width: 768px) {
  .section-2 {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .section-2-aside-right-header {
    text-align: center;
    font-size: 34px;
  }
  .section-2-text {
    font-size: 20px;
    text-align: center;
  }
  .aside-right-input-1 {
    height: 79px;
    width: 100%;
    font-size: 17px;
  }
  .section-2-aside-right {
    padding: 0 14px;
  }
  .button {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 468px) {
  .section-1-header {
    font-size: 40px;
  }
  .section-1-text {
    font-size: 15px;
    line-height: 18.4px;
  }
  .section-2 {
    padding-top: 62px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0px;
  }
  .section-2-text {
    font-size: 18px;
    line-height: 21.4px;
  }
  .button {
    width: 100%;
    height: 56px;
  }
}
