.main-2 {
  background-color: #bcbaba;
}

.main {
  background-color: white;
  max-width: 1440px;
  margin: auto;
}

.section-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 74px;
}

.section-1::after {
  background-image: url("../assets/login-background.png");
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.section-1-header {
  font-weight: 400;
  font-size: 56px;
  line-height: 64.39px;
  margin-bottom: 20px;
}

.section-1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
}

.profile-nav {
  display: flex;
  column-gap: 80px;
  margin-bottom: 100px;
}

.section-2 {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 120px;
  padding-top: 91px;
}

.nav-div-1 {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
  padding-bottom: 20px;
  cursor: pointer;
}

.nav-div-2 {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #b4b4b4;
  padding-bottom: 20px;
  cursor: pointer;
}

.nav-line {
  width: 80px;
  border: 2px solid #c2c2c2;
}

.chev {
  width: 16px;
  height: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th-top-text-1 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.916667px;
  color: #8d8d8d;
  padding-bottom: 60px;
}

.th-text-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 50px;
}

.th-text-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  padding-bottom: 50px;
}

.th-text-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4a4141;
  padding-bottom: 50px;
}

.th-text-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6.5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  padding-bottom: 50px;
}

.th-text-5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  padding-bottom: 50px;
}

.table-img {
  padding-bottom: 50px;
}

.line {
  width: 100%;
  border: 1px solid #dbdbdb;
  margin-top: 9px;
}
