.main-2 {
  background-color: #ffffff;
}

.main {
  max-width: 1440px;
  margin: auto;
}

.section-1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 74px;
}

.section-1::after {
  background-image: url("../assets/login-background.png");
  background-image: url("../assets/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.section-1-header {
  font-weight: 400;
  font-size: 56px;
  line-height: 64.39px;
  margin-bottom: 20px;
}

.section-1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
}

.section-2 {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 120px;
  padding-top: 91px;
}

.profile-div {
  display: flex;
  column-gap: 40px;
  align-items: center;
  margin-bottom: 40px;
}

.profile-top-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.6px;
}

.profile-top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  color: #4d4d4d;
}

.profile-top-header-div {
  display: flex;
  column-gap: 20px;
}

.profile-image-div {
  position: relative;
}

.profile-image-edit {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  position: absolute;
  top: 40px;
  left: 12px;
  column-gap: 11px;
}

.section-3-div {
  border: 1px solid#D1D1D1;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-3-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
}

.section-3-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27.6px;
}

.section-3-edit {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  display: flex;
  column-gap: 11px;
}

.logout {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 70px;
  background-color: #d94141;
  border: none;
  margin-top: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.4px;
  cursor: pointer;
}

.profile-nav {
  display: flex;
  column-gap: 80px;
  margin-bottom: 100px;
}

.nav-div-1 {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
  padding-bottom: 20px;
  cursor: pointer;
}

.nav-div-2 {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #b4b4b4;
  padding-bottom: 20px;
  cursor: pointer;
}

.nav-line {
  width: 80px;
  border: 2px solid #c2c2c2;
  background: #c2c2c2;
}

.chev {
  width: 16px;
  height: 8px;
}

.delete-btn {
  width: 200px;
  height: 60px;
  background: #d94141;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px 10px;
}

.table-text-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  padding-top: 28px;
  padding-bottom: 21px;
  text-align: left;
}

.tr-top {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1pt solid #d7d7d7;
}

.table-img {
  text-align: left;
}

.product-th {
  padding-top: 40px;
  padding-bottom: 40px;
}

.table-text-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1a1a;
  text-align: left;
}

.table-text-3 {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  text-align: left;
  vertical-align: center;
}

.table-text-4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}

.check {
  margin-right: 6.5px;
}

.delete-div {
  text-align: right;
}

@media (max-width: 768px) {
  .section-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 45.5px;
  }

  .profile-nav {
    column-gap: 0px;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .nav-div-1 {
    font-size: 16px;
    padding-bottom: 0px;
  }

  .nav-div-2 {
    font-size: 16px;
    padding-bottom: 0px;
  }

  .nav-line {
    width: 40px;
  }

  .product-img {
    width: 68px;
    height: auto;
    padding-right: 10px;
  }

  .table-text-1 {
    padding-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #1a1a1a;
    padding-top: 28px;
    padding-bottom: 21px;
    text-align: left;
  }

  .table-text-2 {
    padding-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1a1a1a;
    text-align: left;
  }

  .table-text-3 {
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    text-align: left;
    vertical-align: center;
  }

  .table-text-4 {
    padding-right: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: #1a1a1a;
  }

  .delete-btn {
    width: 100px;
    height: 40px;
    background: #d94141;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
}
