@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arimo", sans-serif;
}

.main {
  max-width: 1440px;
  margin: auto;
}

.content {
  /* border: 1px solid darkblue; */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 74px;
  padding-bottom: 74px;
}

.content ::after {
  /* border: 1px solid darkblue; */
  background-image: url("../assets/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.content_chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chat {
  /* border: 1px solid red; */
  font-size: 35px;
  font-weight: 800;
  padding-top: 50px;
}
.text {
  /* border: 1px solid darkblue; */
  font-size: 17px;
  font-weight: 400;
}

.content-left {
  position: relative;
  border: 1px solid black;
  height: 500px;
}
.content-right {
  position: relative;
  border: 1px solid black;
  height: 500px;
}

.icon_online,
.icon_online-aisya {
  position: absolute;
  top: 54px;
  left: 64px;
  width: 15px;
  height: 15px;
}

.name {
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
  color: white;
}

.online,
.online_aisya {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  top: 55px;
  left: 95px;
  color: white;
}

.content-left-border {
  border-bottom: 1px solid black;
  background-color: black;
}
.content-right-border {
  border-bottom: 1px solid black;
  background-color: black;
}

.content-left-botom {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  position: relative;
}

.icon_online_one {
  position: absolute;
  top: 54px;
  left: 64px;
  width: 15px;
  height: 15px;
}

.online_one {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  top: 50px;
  left: 94px;
}

.name_sifa {
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
}

.icon_row {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 380px;
}

.content-right-botom {
  position: relative;
  top: 330px;
  border-bottom: 1px solid black;
}
.message {
  position: absolute;
  top: 40px;
}

.send {
  width: 100px;
  position: absolute;
  left: 500px;
  top: 40px;
  color: white;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .content_chat {
    display: flex;
    flex-direction: row;
    padding: 40px 10px;
    width: 120%;
    justify-content: start;
  }
  .send {
    width: 130px;
    height: 40px;
    left: 300px;
    top: 38px;
    font-size: 22px;
  }
  .message {
    font-size: 18px;
  }
  .icon_row {
    left: 268px;
  }
  .name_sifa {
    font-size: 20px;
  }
  .online_one {
    font-size: 14px;
  }
  .online {
    font-size: 16px;
    top: 48px;
    left: 95px;
  }
  .online_aisya {
    font-size: 16px;
    top: 48px;
    left: 94px;
  }
  .chat {
    font-size: 46px;
  }
  .text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 428px) {
  .content_chat {
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 2rem;
    width: 100%;
  }
  .content-left {
    width: 100%;
    height: 100%;
    padding: 40px 8px;
    border: none;
  }
  .content-right {
    width: 100%;
    padding: 0 10px;
    border: none;
    height: 550px;
  }
  .icon_online {
    top: 95px;
    left: 71px;
  }
  .online {
    font-size: 12px;
    font-weight: 400;
    top: 91px;
    left: 103px;
  }
  .online_one {
    font-size: 14px;
  }
  .name_sifa {
    font-size: 18px;
  }
  .icon_online_one {
    top: 52px;
  }
  .online_aisya {
    font-size: 12px;
    top: 52px;
    left: 104px;
  }
  .icon_online-aisya {
    top: 54px;
    left: 74px;
  }
  .send {
    width: 100%;
    height: 44px;
    left: 0px;
    top: 81px;
    font-size: 20px;
  }
}
