.content-bar {
  border-top: 2px solid #919191;
}

.bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title_product_shop {
  text-decoration: none;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1a1a1a;
  margin: 0 10px;
}
.title_product {
  text-decoration: none;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1a1a1a;
  margin: 0 10px;
}

.title_product > i {
  margin: 0 10px;
}
.title_product_shop > i {
  margin: 0 10px;
}

.title_product:hover {
  text-decoration: none;
  font-family: "Arimo";
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1a1a1a;
  margin: 0 10px;
}

/* List product detail utama */
.content_product_preview {
  margin-top: 40px;
}

.c-product {
  display: flex;
  justify-content: center;
}

.list_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_product img {
  margin: 10px 0;
  width: 75%;
}
.list_product img:hover {
  border-bottom: 3px solid #1a1a1a;
}

.product_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.preview {
  width: 80%;
  height: 80%;
}

.hot {
  position: absolute;
  left: 855px;
  top: 75px;
}

/* content detail product */
.c-detail {
  margin-top: 150px;
}

.detail_title {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
}

.detail_review {
  margin-top: 10px;
}

.detail_review i {
  font-size: 12px;
}

.view {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #1a1a1a;
  margin-left: 20px;
}

.detail_price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.detail_price > i {
  margin-right: 10px;
  margin-left: 490px;
}

.detail_price_price {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
}

.detail_price_stock {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #262626;
}

.detail_desc > p {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  color: #4d4d4d;
  margin-top: 15px;
  text-align: justify;
}

.detail_submit {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.add-product {
  display: flex;
  align-items: center;
  border: 2px solid #b4b4b4;
  height: 50px;
  margin-right: 10px;
}

.add-product button {
  border: none;
  background-color: white;
}
.add-product input {
  border: none;
  text-align: center;
  width: 40px;
}
.add-product input:focus {
  outline: none;
}

.add_cart button {
  border: none;
  text-align: center;
  height: 50px;
  background-color: #1a1a1a;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  padding: 5px 30px;
}

.favorite button {
  border: none;
  text-align: center;
  height: 50px;
  background-color: #1a1a1a;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  padding: 5px 20px;
}

.add_wistlist button {
  background: #ffffff;
  border: 1px solid #b4b4b4;
  text-align: center;
  height: 50px;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #1a1a1a;
  margin-right: 10px;
  padding: 5px 30px;
}

.detail_list {
  margin-top: 30px;
}

.detail_list p {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;
  color: #2f2f2f;
}

.detail-location {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.location i {
  font-size: 20px;
}

.location > p {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #1a1a1a;
  margin-left: 10px;
  text-align: center;
}

.sosial_media {
  padding: 0 0;
  margin-top: 30px;
  cursor: pointer;
}

.icon-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-style span i {
  font-size: 15px;
  padding: 10px;
}

.icon-style span {
  border: 1px solid #e1e1e1;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}

.facebook-container {
  border: 1px solid #e1e1e1;
  align-items: center;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 20px;
}

.detail-bar-product {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.bar-product-detail {
  display: flex;
  gap: 60px;
}

.bar-product-detail p {
  cursor: pointer;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1a1a;
}

.bar-product-detail p:hover {
  border-bottom: 3px solid black;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #1a1a1a;
}

@media only screen and (max-width: 768px) {
  .hot {
    display: none;
  }
  .detail_price > i {
    margin-right: 10px;
    margin-left: 440px;
  }

  .bar-product-detail p {
    cursor: pointer;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #1a1a1a;
    text-align: center;
  }
  .bar-product-detail {
    gap: 20px;
  }

  .bar-product-detail p:hover {
    border-bottom: 3px solid black;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #1a1a1a;
  }

  .c-product {
    flex-direction: column-reverse;
  }

  .list_product {
    flex-direction: row;
  }
}

@media only screen and (max-width: 428px) {
  .detail_price > i {
    margin-right: 10px;
    margin-left: 115px;
  }

  .relate {
    margin: 50px;
  }

  .detail_list {
    padding-right: 30px;
    padding-left: 30px;
  }

  .detail-location {
    padding-right: 30px;
    padding-left: 30px;
  }

  .sosial_media {
    padding-right: 30px;
    padding-left: 30px;
  }

  .list_product img {
    width: 25%;
  }

  .add_cart button {
    font-size: 12px;
    padding: 0;
  }

  .bar-product-detail p {
    cursor: pointer;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    color: #1a1a1a;
    text-align: center;
  }
  .bar-product-detail {
    gap: 8px;
  }

  .bar-product-detail p:hover {
    border-bottom: 3px solid black;
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    color: #1a1a1a;
  }

  .c-detail {
    padding-right: 30px;
    padding-left: 30px;
  }

  .image-description_1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}
