/* || Font styles */

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --pd-main-color: #ffffff;
  --pd-font-color: #1a1a1a;
  --pd-second-font-color: #4d4d4d;
  --pd-third-font-color: #b4b4b4;
  --pd-bg-color: #e5e5e5;
  --pd-bg-second-color: #f2f2f2;
  --pd-bg-color: #262626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arimo", sans-serif;
}

.main {
  /* border: 1px solid darkblue; */
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
}

.breadcrumb {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.breadcrumb p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 1rem 0;
}

.product-detail {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail__images {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.product-detail__images-left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}

.product-detail__images-left-side {
  list-style: none;
}

.product-detail__images-left-side img {
  border: 1px solid darkblue;
  width: 140px;
  height: 140px;
}

.product-detail__images-right-side img {
  width: 990px;
  height: 805px;
}

.product-detail__descriptions {
  /* border: 1px solid darkred; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail__descriptions__titles {
  /* border: 1px solid darkblue; */
  font-size: 32px;
  margin-bottom: 0;
}

/* .ratings { 
  border: 1px solid darkgoldenrod; 
 } */

.price-and-sold-history {
  /* border: 1px solid darkblue; */
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0;
}

.sold {
  margin-bottom: 0;
}

/* .description {
  border: 1px solid darkgoldenrod;
} */

.components {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.qty {
  border: 1px solid var(--pd-bg-color);
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  gap: 0.5rem;
  padding-left: 0;
}

.qty li {
  /* border: 1px solid darkblue; */
  list-style: none;
  padding: 0.5rem;
}

.add-to-cart {
  /* border: 1px solid darkblue; */
  padding: 0.5rem;
  background: var(--pd-bg-color);
  color: var(--pd-main-color);
}

.add-to-whishlist {
  /* border: 1px solid darkgoldenrod; */
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--pd-bg-color);
}

.favorites {
  /* border: 1px solid darkblue; */
  background: var(--pd-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.favorites img {
  width: 22px;
  height: 21px;
}

/* .details {
  border: 1px solid darkblue;
} */

.deliveries {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.deliveries ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.deliveries ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.deliveries ul li img {
  width: 18px;
  height: 21px;
}

.medias {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.medias img {
  width: 31px;
  height: 31px;
}

.lists {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  padding-left: 0;
}

.lists li {
  /* border: 1px solid darkblue; */
  position: relative;
  list-style: none;
  font-size: 24px;
  cursor: pointer;
}

.images-description {
  /* border: 1px solid darkcyan; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.images-description img {
  width: 500px;
  height: 317px;
}

/* .related-prodcuts {
  border: 1px solid darkblue;
} */

.related-prodcuts-title {
  /* border: 1px solid darkcyan; */
  text-align: center;
}

.related-prodcuts__list {
  /* border: 1px solid darkkhaki; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.prodcut {
  border: 1px solid darkblue;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.prodcut img {
  width: 360px;
  height: 450px;
}

/* .product_description {
  border: 1px soli darkblue;
} */

/* .product_description h3 {
  font-size: 24px;
  font-weight: 400;
} */

/* .product_description p {
  font-weight: 800;
} */

.btn-carousel {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-carousel ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-left: 0;
  margin-bottom: 0;
}

.btn-carousel li {
  list-style: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid var(--pd-bg-color);
}

.btn-carousel li:hover {
  background: var(--pd-font-color);
}
